<div class="mt-5"> <!--class로도 margin을 줄 수 있음--> 
<span class="text-center"><h1>게시판입니다</h1> </span>
<a href = "/">홈으로 가기</a>
<!--입력 받은 창을 만들고, 처리 하는 곳을 따로 만들어야 함-->

<!--https://getbootstrap.com/docs/4.1/components/forms/-->   
<!--class는 건들면 안된다.-->

<form action = "/posts/update/<%= @post.id%>">
  <div class="form-group">
    <label for="exampleInputEmail1">제목 입력하기</label>
    <input value="<%=@post.title%>" type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="제목을 입력하세요">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">내용 입력하기</label>
    <input value="<%=@post.body%>" type="text" name = "body" class="form-control" id="exampleInputPassword1" placeholder="내용을 입력하세요">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>