
        <h1>게시판입니다</h1>
        <a href = "/">처음화면으로 가기</a>
        <!--입력 받은 창을 만들고, 처리 하는 곳을 따로 만들어야 함-->
        <form action = "/posts/create">
            <!--name 필수 param으로 받아야 함-->
            제목 : <input type="text" name="title">
            내용 : <input type="text" name="body">
            <input type = "submit" value = "작성하기">
        </form>

